#titolo{
    text-align: center;
    font-size: 300%;
}
body{
    background-color: red;
}
#destra{
    float: right;
}
#sinistra{
    float: left;
}
.colonna{
    width: 100%;
}
#inserimento{
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    background-color: white;
    padding: 3%;
    border: 2px solid black;
}
.centro{
    width: 50%;
}